[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "priceandposition"]
	path = priceandposition
	url = git@github.com:craigfisk/priceandposition.git
