[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "themes/papermod"]
	path = themes/papermod
	url = https://github.com/nanxiaobei/hugo-paper
[submodule "themes/hugo-PaperMod"]
	path = themes/hugo-PaperMod
	url = git@github.com:craigfisk/hugo-PaperMod.git
